/* html{
    scroll-behavior: smooth;
} */


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    *{
        margin : 0px;
        padding : 0px;
    }
    body {
        @apply overflow-x-hidden max-w-full min-h-screen bg-cl800 dark:bg-cd800
    }
}



@layer components{

    .container{
        @apply max-w-[1500px] mx-auto min-h-screen bg-cl900 dark:bg-cd900 relative
    }
    .header-section-menu{
        @apply text-center text-[2rem] md:text-[3rem] font-bold text-cl200 dark:text-cd200
    }
    .scrollbar-hidden::-webkit-scrollbar {
        display: none;
      }
      
      /* Hide scrollbar for IE, Edge add Firefox */
    .scrollbar-hidden {
        -ms-overflow-style: none;
        scrollbar-width: none; /* Firefox */
    }
}

@layer utilities{
    .scroll-behavior{
        scroll-behavior: smooth !important;
    }
    .accordion-content {
        max-height: 500px;
        padding: 1rem;
        transition: max-height 0.5s ease-in-out, padding 0.5s ease-in-out;
        overflow-y : scroll;
    }

    .grad-text{
        background-image: linear-gradient( 358.4deg,  rgba(249,151,119,1) -2.1%, rgba(98,58,162,1) 90% );        
        -webkit-background-clip : text;
        -webkit-text-fill-color: transparent;
    }
    ::-webkit-scrollbar{
        @apply w-2
    }
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px #a5acb8;
        border-radius: 10px;
        background:white;
    }
    ::-webkit-scrollbar-thumb {
        @apply rounded-lg bg-cl400 dark:bg-cd400
    }
    ::-webkit-scrollbar-thumb:hover {
        @apply bg-cl600 dark:bg-cd600
    }
}