html{
    scroll-behavior: smooth;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    *{
        margin : 0px;
        padding : 0px;
    }
    body{
        overflow-x : hidden;
        max-width : 100vw;
        min-height : 100vh;
    }
}

@layer components{
    .container{
        @apply max-w-[1500px] mx-auto min-h-screen bg-slate-900
    }
    .scrollbar-hidden::-webkit-scrollbar {
        display: none;
      }
      
      /* Hide scrollbar for IE, Edge add Firefox */
    .scrollbar-hidden {
        -ms-overflow-style: none;
        scrollbar-width: none; /* Firefox */
    }
}

@layer utilities{
    .grad-text{
        background-image: linear-gradient( 358.4deg,  rgba(249,151,119,1) -2.1%, rgba(98,58,162,1) 90% );        
        -webkit-background-clip : text;
        -webkit-text-fill-color: transparent;
    }
    ::-webkit-scrollbar{
        @apply w-2
    }
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px #a5acb8;
        border-radius: 10px;
        background:white;
    }
    ::-webkit-scrollbar-thumb {
        @apply rounded-lg bg-slate-400
    }
    ::-webkit-scrollbar-thumb:hover {
        @apply bg-slate-600
    }
}